# Maven/Gradle
target/
!/src/main/static/
.mvn/
build/

# IDE
.idea/
*.iml
*.iws
*.ipr
out/

# Node.js / React
frontend/frontenddemo/node_modules/
frontend/frontenddemo/dist/
frontend/frontenddemo/build/
frontend/frontenddemo/.pnp
frontend/frontenddemo/.pnp.js

# Logs
*.log

# OS
.DS_Store
Thumbs.db